chromadb
langchain
langchain-chroma
langchain-community
langchain-huggingface
ollama
pypdf
sentence-transformers
streamlit

deepagents
langchain-openai
python-dotenv

# Output
rich
markdownify

# VectorDB 
pypdf
chromadb
langchain-chroma
langchain-community
langchain-huggingface
sentence-transformers

# CV capture
opencv-python